---
import Logo from '@/components/global/logo.astro';
import { MenuNavigation } from '@/config/menuNavigation';
import { Link } from '@/components/ui-entities/link.tsx';
import Heading from '@/components/ui-wrappers/heading.astro';
import { Contacts } from '@/config/contacts';
import { Socials } from '@/config/socials';
import { SeparateLine } from '@/components/ui-entities/separateLine.tsx';
import layout from '@/styles/layouts.module.scss';
import { SubscribeForm } from './subscribeForm';

const currentYear = new Date().getFullYear();
---

<div class={layout.container}>
  <div
    class='768:gap-y-14 bg-dark 768:rounded-t-[45px] 768:pt-14 768:pb-12 768:px-15 flex flex-col gap-y-9 px-5 pt-12 pb-8'
  >
    <div class='wrapper'>
      <div class='1100:flex-row 768:justify-between flex flex-col items-center gap-y-8'>
        <div>
          <Logo variant='light' size='sm' />
        </div>
        <nav>
          <ul class='768:flex-row flex flex-col items-center gap-x-10 gap-y-4'>
            {
              MenuNavigation.map(({ title, link }) => (
                <li class='underline'>
                  <Link href={link} text={'light'}>
                    {title}
                  </Link>
                </li>
              ))
            }
          </ul>
        </nav>
      </div>
      <div class='768:flex-row 768:justify-between flex flex-col items-center gap-x-4 gap-y-9'>
        <div class='768:gap-y-8 768:items-start flex flex-col items-center gap-y-9'>
          <Heading as='h4' variant='accent' font='h4'>Contact us:</Heading>
          <ul
            class='768:gap-y-5 768:justify-startitems-start 768:text-start flex flex-col gap-y-4 text-center'
          >
            {
              Contacts.map(it => (
                <li class='text-white'>
                  <p class='p2'>
                    <span>{it.label}: </span>
                    <a href={it.href} target='_blank' class='whitespace-pre-line'>
                      {it.text}
                    </a>
                  </p>
                </li>
              ))
            }
          </ul>
        </div>
        <SubscribeForm client:load />
      </div>
      <div class='768:justify-end flex justify-center gap-x-5'>
        {
          Socials.map(({ icon: Icon, ...it }) => (
            <a href={it.link} target='_blank' rel='noopener noreferrer'>
              <Icon class='size-8 rounded-full bg-white text-black' />
            </a>
          ))
        }
      </div>
    </div>
    <div class='768:gap-y-14 flex flex-col gap-y-9'>
      <SeparateLine color='light' />
      <div class='768:flex-row 768:items-start flex flex-col items-center gap-x-10 gap-y-4'>
        <p class='p1 text-white'>© {currentYear} Positivus. All Rights Reserved.</p>
        <Link text='light' href='/public' target='_blank' rel='noopener noreferrer'>
          Privacy Policy
        </Link>
      </div>
    </div>
  </div>
</div>

<style lang='scss'>
  @use '@/styles/variables/breakpoints' as bp;

  .wrapper {
    display: grid;
    grid-template-areas:
      'b1'
      'b2'
      'b3';
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    row-gap: 36px;

    @for $i from 1 through 3 {
      > :nth-child(#{$i}) {
        grid-area: b#{$i};
      }
    }
  }

  @media screen and (min-width: #{bp.$breakpoint-1100}) {
    .wrapper {
      grid-template-areas:
        'b1 b3'
        'b2 b2';
      grid-template-rows: auto auto;
      grid-template-columns: 4fr 1fr;
    }
  }
</style>
